@media screen and (max-width: 480px) { 
  .header {
    width: 100%;
    height: 55px;
    background-color: rgba(27, 27, 27, 0.925);
    display: flex;
    position: relative;
    position: fixed;
    z-index: 10;
  }
  .header__title {
    cursor: pointer;
    color: #d6d5d5;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
      top: 20px;
      left: 15px;
  }
  .header__title:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .header__nav {
    font-size: 15px;
    cursor: pointer;
    position: absolute;
      top: 25px;
      right: 5px;
  }
  .headlink {
    color: lightgray;
    text-decoration: none;
    padding: 10px;
  }
  .headlink:hover {
    color: #ffffff;
  }
  
  
  
  
  .content {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .image-man {
    position: relative;
    width: 100%;
  }
  .top-image {
    width: 100%;
    text-align: center;
    margin-top: 140px;
    z-index: 0;
  }
  .man-2 {
    width: 100%;
    z-index: 1;
    position: absolute;
      top: 140px;
      left: 0;
    opacity: 0;
  }
  
  .title-man {
    font-size: 35px;
    text-align: center;
    /* margin-left: 325px; */
  }
  .l {
    opacity: 0;
  }
  
  
  .skill {
    margin-top: 280px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: center;
  }
  .skill-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 50px;
    /* margin-left: 170px; */
  }
  .skill-list2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    padding-left: 8px;
  }

  
  .works {
    margin-top: 110px;
    margin-bottom: 60px;
    font-size: 35px;
    text-align: center;
  }
  
  .giga-man {
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    /* width: 900px; */
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .furima-image {
    width: 110px;
    height: 110px;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(85, 85, 85);
    z-index: 1;
    position: relative;
  }
  .ourlog-image {
    width: 110px;
    height: 110px;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(85, 85, 85);
    z-index: 1;
    position: relative;
  }
  .linkman {
    background-color: hotpink;
    width: 110px;
    height: 110px;
    z-index: 1;
    margin: 20px;
    opacity: 0;
    position: absolute;
      top: 0;
      left: 0;
  }
  .linkman2 {
    background-color: blue;
    width: 110px;
    height: 10px;
    margin: 20px;
    z-index: 1;
    opacity: 0;
    position: absolute;
      top: 0;
      right: 0;
  }
  .detail {
    margin-top: 10px;
    color: rgb(100, 100, 100);
    text-align: center;
  }
  
  
  .footer {
    width: 100%;
    /* height: 115px; */
    background-color: rgba(27, 27, 27, 0.925);
    color: lightgray;
    display: flex;
    position: relative;
    margin-top: 100px;
  }
  .footer__title {
    font-size: 18px;
    color: #ffffff;
    margin: 40px 60px;
  }
  .copy {
    text-align: center;
    margin-top: 115px;
    margin-right: 150px;
    font-size: 2px;
    display: none;

  }
  .footer__btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 32px;
    background-color: rgba(27, 27, 27, 0.925);
    line-height: 50px;
    text-align: center;
    border-radius: 60px;
    font-size: 10px;
    /* padding: 15px; */
    color: white;
    border: solid #f6f6f6;
  }
  .footer__btn:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.1s ease;
  }
}