@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  .header {
    width: 100%;
    height: 55px;
    background-color: rgba(27, 27, 27, 0.925);
    display: flex;
    position: relative;
    position: fixed;
    z-index: 10;
  }
  .header__title {
    cursor: pointer;
    color: #d6d5d5;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
      top: 16px;
      left: 60px;
  }
  .header__title:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .header__nav {
    cursor: pointer;
    display: flex;
    position: absolute;
      top: 11px;
      right: 110px;
  }
  .headlink {
    color: lightgray;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }
  .headlink:hover {
    color: #ffffff;
  }
  .gy-btn {
    color: lightgray;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
  }
  .gy-btn:hover {
    color: #ffffff;
  }
  
  
  
  
  .content {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .top-image {
    margin-left: 395px;
    margin-top: 140px;
    z-index: 1;
  }
  .man-2 {
    z-index: 0;
    position: absolute;
      top: 140px;
      left: 395px;
    opacity: 0;
  }
  
  .title-man {
    font-size: 55px;
    text-align: center;
    /* margin-left: 325px; */
  }
  .l {
    opacity: 0;
  }
  
  
  .skill {
    margin-top: 280px;
    margin-bottom: 40px;
    font-size: 45px;
    text-align: center;
  }
  .box-bon {
    border-radius: 10px;
    height: 452px;
  }
  .skill-list {
    display: flex;
    align-items: center;
    /* margin-left: 170px; */
    justify-content: space-around;
  }
  .skill-list2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    padding-left: 38px;
  }

  .ht {
    width: 100px;
    height: 114px;
  }
  .cs {
    width: 140px;
    height: 150px;
  }
  .jpn {
    width: 100px;
    height: 114px;
  }
  .ruby {
    height: 110px;
    width: 110px;
  }
  .rails {
    height: 230px;
    width: 220px;
  }
  .git {
    height: 160px;
    width: 160px;
  }
  
  
  .works {
    margin-top: 170px;
    margin-bottom: 60px;
    font-size: 45px;
    text-align: center;
  }
  
  .giga-man {
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .furima-image {
    width: 300px;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(85, 85, 85);
    z-index: 1;
    position: relative;
  }
  .ourlog-image {
    width: 300px;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(85, 85, 85);
    z-index: 1;
    position: relative;
  }
  .linkman {
    background-color: hotpink;
    width: 300px;
    height: 300px;
    z-index: 1;
    opacity: 0;
    position: absolute;
      top: 0;
      left: 0;
  }
  .linkman2 {
    background-color: blue;
    width: 300px;
    height: 300px;
    z-index: 1;
    opacity: 0;
    position: absolute;
      top: 0;
      right: 0;
  }
  .detail {
    margin-top: 10px;
    color: rgb(100, 100, 100);
    text-align: center;
  }
  
  
  .footer {
    width: 100%;
    height: 145px;
    background-color: rgba(27, 27, 27, 0.925);
    color: lightgray;
    display: flex;
    position: relative;
    margin-top: 100px;
  }
  .footer__title {
    font-size: 23px;
    color: #ffffff;
    margin: 40px 60px;
  }
  .copy {
    text-align: center;
    margin-top: 115px;
    margin-left: 280px;
    font-size: 10px;
  }
  .footer__btn {
    cursor: pointer;
    height: 80px;
    width: 80px;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 32px;
    background-color: rgba(27, 27, 27, 0.925);
    line-height: 80px;
    text-align: center;
    border-radius: 60px;
    font-size: 20px;
    padding: 15px;
    color: white;
    border: solid #f6f6f6;
  }
  .footer__btn:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.1s ease;
  }
}
